body {
  background-color: var(--darkblue);
}
/* character heads */
.characters {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.characters img {
  margin-left: 4%;
  padding: 2%;
  height: 4em;
  width: auto;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.sim {
  margin-left: 2.5% !important;
}
.characters img:hover {
  padding-top: 2em;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.main-wrap1 {
  display: flex;
  flex-direction: column;
}
/* nav bar */
.sec1 {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 3%;
  padding: 3em;
  background-color: var(--darkblue);
}
.zoom {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 1em 0 1em 0;
}
.zooms {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
}

/* button functionality */
.hov {
  display: flex;
  justify-content: center;
  background-color: var(--red);
  color: white;
  margin-right: 2.5em;
  cursor: pointer;
  font-size: 1.3vw;
  font-weight: bold;
  width: 18%;
  padding: 0.4em;
  /* removed border to stop button text from moving when pressed */
  border: none;
  outline: none;
  box-shadow: 0 0.1em white;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.hov:hover {
  background-color: var(--darkred);
  visibility: visible;
}
.hov:active {
  background-color: var(--darkred);
  box-shadow: 0 0.1em var(--darkblue);
  transform: translateY(0.07em);
  -webkit-transform: translateY(0.07em);
  -moz-transform: translateY(0.07em);
  -ms-transform: translateY(0.07em);
  -o-transform: translateY(0.07em);
}

/* main image */
.sec2 {
  background-color: var(--darkblue);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 5em 5em 5em;
}
.sec2 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  margin-top: 7.7em;
  border: 0.3em solid var(--yellow);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  cursor: crosshair;
  caret-color: red;
}
/* image zoom */
.zoom-in {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--darkblue);
  width: 120%;
  height: 120%;
  padding: 0 5em 5em 5em;
}
.zoom-in img {
  cursor: crosshair;
  width: 120%;
  height: 120%;
  margin-top: 7.7em;
  border-radius: 0.5em;
  border: 0.3em solid var(--yellow);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

/* counter */
.counter {
  display: flex;
  margin-bottom: 0 !important;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 2em;
  color: white;
}

/* home button */
.home button {
  border: none;
  padding: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.home button:hover {
  cursor: pointer;
  background-color: rgb(209, 206, 206);
}
.home button:active {
  background-color: rgb(209, 206, 206);
  transform: translateY(0.1em);
  -webkit-transform: translateY(0.1em);
  -moz-transform: translateY(0.1em);
  -ms-transform: translateY(0.1em);
  -o-transform: translateY(0.1em);
}

/* character animation */
.characters {
  transform: rotate(360);
  position: relative;
  animation: slide 2s ease 1 0s;
  -webkit-animation: slide 2s ease 1 0s;
}
.characters img {
  animation: rotator 2s 1 0s;
  -webkit-animation: rotator 2s 1 0s;
}
/* @keyframes slide {
  0% {
    right: -100%;
  }
  100% {
    right: 0em;
  }
}
@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
} */

/* scroll bar */
body::-webkit-scrollbar {
  border: none;
}
body::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
body::-webkit-scrollbar-corner {
  border: none;
}

/* character shading for correct select */
.shade1 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0.6%;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade2 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 15.8%;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade3 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 31.6%;
  margin-top: 0.5em;
  margin-left: -0.35%;
  padding-right: 0.3em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}

/* game 2 character shading */
.shade1-2 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 1.6em;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade2-2 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 8.3em;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade3-2 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 31.6%;
  margin-top: 0.5em;
  left: 15em;
  padding-right: 0.3em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}

/* game 3 character shading */
.shade1-3 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0.3em;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade2-3 {
  width: 13%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 6.4em;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade3-3 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 10em;
  margin-top: 0.5em;
  left: 11.7em;
  padding-right: 0.3em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}

/* game 4 character shading */
.shade1-4 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 1em;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade2-4 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 8em;
  margin-top: 0.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}
.shade3-4 {
  width: 15%;
  height: 88%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 10em;
  margin-top: 0.5em;
  left: 15em;
  padding-right: 0.3em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0.1em solid white;
}

.characters h1 {
  color: white;
  margin-left: 1em;
}

.cor {
  color: white;
  position: absolute;
  left: 8em;
  font-size: 2.5em;
}
