.zoom-in4 {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--darkblue);
  width: 110%;
  height: 110%;
  padding: 0 11.8em 5em 11.8em;
}

.zoom-in4 img {
  cursor: crosshair;
  width: 110%;
  height: 110%;
  margin-top: 7.7em;
  border-radius: 0.5em;
  border: 0.3em solid var(--yellow);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
